// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@font-face {
  font-family:'GillSansNova-Book';
  src:url('../fonts/GillSansNova/GillSansNova-Book.eot'); /* IE9 Compat Modes */
  src:url('../fonts/GillSansNova/GillSansNova-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GillSansNova/GillSansNova-Book.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/GillSansNova/GillSansNova-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GillSansNova/GillSansNova-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GillSansNova/GillSansNova-Book.svg#svgGillSansNova-SemiBold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family:'GillSansNova-SemiBold';
  src:url('../fonts/GillSansNova/GillSansNova-SemiBold.eot'); /* IE9 Compat Modes */
  src:url('../fonts/GillSansNova/GillSansNova-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GillSansNova/GillSansNova-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/GillSansNova/GillSansNova-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GillSansNova/GillSansNova-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GillSansNova/GillSansNova-SemiBold.svg#svgGillSansNova-SemiBold') format('svg'); /* Legacy iOS */
}



