.gblock__counter {
    font-family: $font-bold;
    text-align: center;
    font-size: 28px;
	line-height: 1.2;
    @media screen and (min-width: 992px) {
        font-size: 36px;
    }
    &_body--number {
        font-size: 70px;
        white-space: nowrap;
        @media screen and (min-width: 992px) {
            font-size: 250px;
        }
    }
}


