.gblock__floatcolumns { 
    figure {
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .card-link {
        text-decoration: none;
        &:hover,&:active,&:visited {
            text-decoration: none;
        }

    }
}