
.gblock__headline {
  font-size: 25px;
  @media screen and (min-width: 768px) {
    font-size: 70px;
  }

  text-decoration: none;
  &:hover,&:focus,&:active, 
  a, a:hover,a:focus,a:active {
    text-decoration: none;
  }
  cite {
    font-size: 18px;
    line-height: 1.1; 

    @media screen and (min-width: 992px)  {
      font-size: 26px;
    }  
    @media screen and (min-width: 1200px)  {
      font-size: 30px;
    } 
  }
  &--wrapper {
    @media screen and (min-width: 768px) {

    }
  }
  &_body--wtext {
    color: white;
  }
  &_body--content {
    color: white;
  }
  &_body--ctas {
    .btn-cta {
      margin-top: 0;
    }
  }
  &_body--logo {
    img, svg {
      width:auto;
      height:auto;
      max-width: calc(100% - 30px);
      max-width: calc(100vw - 30px);
      max-height: 33.33%;
      max-height: 33.33vh;
      max-height: vh(33.33);
    }
  }
}


