
.section__headline {
  @include bottom-border;
}
.gblock__headline {
  text-decoration: none;
  &:hover,&:focus,&:active, 
  a, a:hover,a:focus,a:active {
    text-decoration: none;
  }
  &--wrapper {
    
    @media screen and (min-width: 768px) {
      padding-left:80px;
      padding-right: 80px;
    }
  }
  &_body--wtext {
    color: white;
  }
  &_body--content {
    color: white;
  }
  &_body--ctext {
    max-width: 600px;
  }
  &_body--logo {
    img, svg {
      width:auto;
      height:auto;
      max-width: calc(100% - 30px);
      max-width: calc(100vw - 30px);
      max-height: 33.33%;
      max-height: 33.33vh;
      max-height: vh(33.33);
    }
  }
}


