.gblock__slider {
    .slick-carousel {
        max-height: 60%;
        max-height: 60vh;
        max-height: vh(60);
        .slick-arrow {
            &::before {
                background-image: url('../../img/arrow_blue.png');
            }
        }
        .slick-prev {
            &::before {
                transform:translate(-50%,-50%) rotate(90deg);
            }
        }
        .slick-next {
            &::before {
                transform:translate(-50%,-50%) rotate(-90deg);
            }
        }
        .slick-slide {
            
            img {
                margin: 0 auto;
                max-height: 60%;
                max-height: 60vh;
                max-height: vh(60);
            } 
        }
    }
}


