.gblock__video {
    .component_video {
        @media (min-width:768px) and (max-width:1799px){
            height:vh(50);
            padding-bottom: 0;
        }
        iframe, video,  img {
            object-fit: contain;
        }
        button.video_control {
            opacity:0;
        }
    }
}


