body.our-apartments {
    .btn-secondary {
        width: 100%;
        max-width:215px;
        @media screen and (min-width: 992px) {
            width: 70%;
            max-width:100%;
        }
        @media screen and (min-width: 1200px) {
            width: 34%;
        }
    }
}