html {
  /* Disable scroll boucing *
  height  : 100%;
  overflow: hidden;
  position: relative;
  /**/
}

body { 
    /* Disable scroll boucing *
    height  : 100%;
    overflow: auto;
    position: relative;
    /**/


	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
    

	background-color: $grey;
    color: $dark-grey;
    text-align: left;
    
    font-family: $font-medium;
	font-size: 18px;
    line-height: 20px;
    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 20px;
    }

}

*:focus {
    outline: none !important;
}
a, a:hover, a:focus {
	color: $dark-grey;
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
h1,h2 {
	font-weight: normal;
	margin:0;
}
h1,.h1 {
    font-size:50px;
    line-height:61px;
}
h2,.h2 {
	font-size: 30px;
	line-height: 36px;
}
h3,.h3 {
	font-size: 18px;
	line-height: 20px;
}
h4,.h4 {
	font-size: 18px;
}
h5,.h5 {
	font-size: 18px;
}
p:last-of-type {
	margin-bottom:0;
}
blockquote {
	p:first-of-type:before {
	  content: open-quote;
	  vertical-align: top;
	}
	p:last-of-type:after {
		content: close-quote;
  		vertical-align: bottom;
	}
}


div.author {
	font-style:normal;
	div.role {
		display:block;
	}
}
small {
	font-size: 18px;
	line-height: 20px;
}
.small {
	font-size: 15px;
	line-height: 15px;
}
.headline {
  //padding-top:50px;
  //padding-bottom:100px;
  max-height:calc(100vh-30px);
  overflow: hidden;
  .h1 {
    font-size:50px;
    line-height:51px;
  }
  a {
    text-decoration:underline;
  }
}




/**** Bootstrap ****
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 30px;
    padding-left: 30px;
}
.row {
    margin-right: -30px;
    margin-left: -30px;
}
.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    padding-right: 30px;
    padding-left: 30px;
}
.h-50 {
	height:50vh !important;
}
.half-screen {
	min-height:50vh !important;
}
/**** ****/

