/* 
html {
  /* Disable scroll boucing * /
  height  : 100%;
  overflow: hidden;
  position: relative;
  
}
/**/

body { 
    /* Disable scroll boucing *
    height  : 100%;
    overflow: auto;
    position: relative;
    /**/


	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 

  overflow-x: hidden;
    

	  background-color: $brown;
    color: white;
    text-align: left;
    
    font-family: $font-light;
	  font-size: 18px;
    line-height: 1.1; 

    @media screen and (min-width: 992px)  {
      font-size: 26px;
    }  
    @media screen and (min-width: 1200px)  {
      font-size: 30px;
    } 
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}
a {
	color: $red;
}
a:hover, a:focus {
	color: $red;
}
p:last-of-type{
  margin:0
}
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
figure {
  margin: 0;
  overflow: hidden;
  img {
    max-width: none;
    max-height: none;
  }
}
strong, b {
  font-family: $font-bold;
}
h1,.h1,h2,.h2 ,h3,.h3,h4,.h4,h5,.h5 {
  font-family: $font-light;
}
h1,.h1 {
  font-size:28px;
  line-height: 1.1;
  @media screen and (min-width: 768px) {
    font-size: 52px;
  } 
  @media screen and (min-width: 992px)  {
    font-size: 52px;
  }  
  @media screen and (min-width: 1200px)  {
    font-size: 110px;
  }
}
h2,.h2 {
	font-size: 25px;
	line-height: 1.1;
  @media screen and (min-width: 768px) {
    font-size: 25px;
  } 
  @media screen and (min-width: 992px)  {
    font-size: 70px;
  }  
  @media screen and (min-width: 1200px)  {
    font-size: 70px;
  }
  @media screen and (min-width: 1920px)  {
    font-size: 70px;
  }
}
h3,.h3 {
  font-size: 25px;
	line-height: 1.1;
  @media screen and (min-width: 992px)  {
    font-size: 35px;
  }  
  @media screen and (min-width: 1200px)  {
    font-size: 50px;
  } 
}
h4,.h4 {
  font-size: 22px;
  line-height: 1.1;
  @media screen and (min-width: 992px)  {
    font-size: 30px;
  }  
  @media screen and (min-width: 1200px)  {
    font-size: 40px;
  }
}
h5,.h5 {
  font-family: $font-medium;
  font-size: 18px;
  line-height: 1.1;
  @media screen and (min-width: 992px)  {
    font-size: 26px;
  }  
  @media screen and (min-width: 1200px)  {
    font-size: 30px;
  }
}
h6,.h6 {
  font-size: 18px;
  line-height: 1.1;
  @media screen and (min-width: 992px)  {
    font-size: 26px;
  }  
  @media screen and (min-width: 1200px)  {
    font-size: 30px;
  }
}
p:last-of-type {
	margin-bottom:0;
}
blockquote {
	p:first-of-type:before {
	  content: open-quote;
	  vertical-align: top;
	}
	p:last-of-type:after {
		content: close-quote;
  		vertical-align: bottom;
	}
}
cite {
  font-style: normal;
}

ul,ol,li {
  list-style: none;
}


div.author {
	font-style:normal;
	div.role {
		display:block;
	}
}
.large-font,
.large-font * {
	font-size: 50px !important;
	line-height: 1.1!important;
  font-family: $font-bold!important;
  @media screen and (min-width: 992px)  {
    font-size: 200px !important;
  }
}
small, .small {
	font-size: 15px;
	line-height: 15px;
}
.headline {
  //padding-top:50px;
  //padding-bottom:100px;
  max-height:calc(100vh-30px);
  overflow: hidden;
  a {
    text-decoration:underline;
  }
}
