.form-control::placeholder {
    color: white !important;
}
.wpcf7 input, .wpcf7 select, .wpcf7 textarea {
    color: white !important;
    background-color: transparent !important;
    border: 1px solid white !important;
    border-radius: 0 !important;
}
.form-group, .wpcf7 .wpcf7-form p {
    margin-bottom: 0;
}
.wpcf7-form {
  label {
    margin-bottom:30px;
  }
  .wpcf7-submit {
    @media screen and (min-width: 576px) {
      width:50% !important;
    }
  }
}
.form-control, 
.wpcf7 .wpcf7-validation-errors, 
.wpcf7 input[type="color"], 
.wpcf7 input[type="date"], 
.wpcf7 input[type="datetime-local"], 
.wpcf7 input[type="datetime"], 
.wpcf7 input[type="email"], 
.wpcf7 input[type="file"], 
.wpcf7 input[type="month"], 
.wpcf7 input[type="number"], 
.wpcf7 input[type="range"], 
.wpcf7 input[type="search"], 
.wpcf7 input[type="submit"], 
.wpcf7 input[type="tel"], 
.wpcf7 input[type="text"], 
.wpcf7 input[type="time"], 
.wpcf7 input[type="url"], 
.wpcf7 input[type="week"], 
.wpcf7 select, 
.wpcf7 textarea {
  padding: .475rem .75rem .175rem .75rem;
}

.wpcf7-form-control[readonly] {
  opacity:.5 !important;
}

/* Styled Checkbox */
.wpcf7-checkbox {
    position:relative;
    cursor: pointer;
    user-select: none;
    display:block;
    height: 30px;
    @media screen and (min-width: 768px) {
        margin-left: 0;
        margin-right: 0;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    span.wpcf7-list-item-label {
      position:absolute;
      left: 0;
      top:0;
      display:block;
      padding-left:40px;
      font-size: 12px;
      line-height: 15px;
      &:before {
          content: "";
          position: absolute;
          width:25px;
          height:25px;
          border:1px solid white;
          top:0;
          left:0;
      }
      &:after {
          content: "";
          position: absolute;
          left: 7px;
          top: 3px;
          width: 10px;
          height: 15px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          display: none;
      }
    }
    &:hover span.wpcf7-list-item-label:before {
      background-color: #ccc;
    }
    input:checked ~ span {
      &:before {
        //background-color: #2196F3;
      }
      &:after {
         display: block;
      }
    }
}



/* = Select-Styled: Custom Select Box/Dropdown
-------------------------------------------------------------- */

.select-hidden {
  display:none;
  visibility:hidden;
  padding-right:20px;
}
.select {
  cursor:pointer;
  position:relative;
  font-size: 12px;
  line-height: 15px;
  color: white;
  height:27px;
  margin:6px 0;
}
.select-div-styled {
  position:absolute; 
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color: transparent;
  padding:6px 10px;
  //padding:6px 0;
  color:white;
  border: 1px solid white;
  //border-bottom: 1px solid white;
  background-image: url(../img/arrow-down--white.png);
  background-repeat: no-repeat;
  background-size: 9px 5px;
  //background-size: 20px auto;
  background-position: right 10px center;

  @include transition(all 0.2s ease-in);

  &:active, &.active {
    background-image: url(../img/arrow-up--white.png);
  }
}
.select__before .select-div-styled:before {
    content: attr(data-before) '  ';
}
.select-options {
  display:none; 
  position:absolute;
  top:100%;
  right:0;
  left:0;
  z-index:999;
  margin:0;
  padding:0;
  list-style:none;
  max-height:230px;
  overflow-y:scroll;
  li {
      margin:0;
      background-color:$dark-grey;
      color:white;
      padding:6px 10px;
      border:0px solid transparent;
      border-bottom: 1px solid white;
      overflow: hidden;
      @include transition(all 0.15s ease-in);
      &:last-of-type {
        border-top: none;
      }
      &:hover {
        background-color:darken($dark-grey, 5);
      }
      &[rel="hide"] {
        display:none;
      }
  }
}