.hero {
	color:white;
	p {
		color:white;
	}
	&__img {
		height: 357px;
		color:white;
		text-align:center;
		position:relative;
		transition: all .25s ease-in-out;
		@media screen and (min-width: 768px) {
			height: 475px;
		}
	}
	&__copy {
		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%,-50%);
  		z-index: 1;
	}
	&__title  {
		font-size: 36px;
		font-weight: 400;
		color:white;
		transition: all .25s ease-in-out;
		@media screen and (min-width: 768px) {
			font-size: 36px;
		}
	}
	&__subtitle  {
		font-size: 18px;
		font-weight: 400;
		color:white;
		transition: all .25s ease-in-out;
		@media screen and (min-width: 768px) {
			font-size: 18px;
		}
	}
	
}
