
.modal {
	
	&.vcentered {// Display modal vertically centered 
		text-align: center;
		padding: 0!important;
		@media screen and (min-width: 768px) { 
		  &:before {
		    display: inline-block;
		    vertical-align: middle;
		    content: " ";
		    height: 100%;
		    margin-right: -4px; /* Adjusts for spacing */
		  }
		}
		.modal-dialog {
			display: inline-block; 
			vertical-align: middle; 
			text-align: left;
			width:100%;
		}
	}

	&-dialog {
	    @media screen and (min-width: 768px) {
	        max-width: 800px;
	    }
	}
	&-content {
	    background-color:black;
	    color:white;
		padding:20px 15px;
	}
	h2 {
		font-size:30px;
	  	line-height:30px;
		@media screen and (min-width: 768px) {
			font-size:40px;
	    	line-height:40px;
		}
	}
	h3 {
		font-size:13px !important;
	    line-height:14px !important;
		@media screen and (min-width: 768px) {
			font-size:13px !important;
	    	line-height:14px !important;
		}
	}
	.box__img {
		min-height:300px;
		@media screen and (min-width: 576px) {
			min-height:370px;
		} 
		@media screen and (min-width: 768px) {
			min-height:330px;
		} 
		@media screen and (min-width: 992px) {
			min-height:370px;
		} 
	}
	.accordion {
		&_quantity {
			margin:6px 0;
		}
		&_item {
			margin-bottom:10px;
			h3 {
				a {
					padding:6px 0;
					display:block;
					background-image:url("../img/arrow-up--white.png");
					background-position: right 10px center;
					background-repeat:no-repeat;
					background-size:contain;
					background-size: 20px auto;
					cursor:pointer;
					&.collapsed {
						background-image:url("../img/arrow-down--white.png");
					}
				}

			}
		}
	}
	.select-div-styled {
	  padding:6px 0;
	  border:0;
	  border-bottom: 1px solid white;
	  background-size: 20px auto;
	}
	table.variations {
		a.reset_variations {
			display:none !important;
		}
	}
	form.cart div.quantity {
	    float: none !important;
	    margin: 0 !important;
	    input.qty {
	    	background-color: transparent;
			padding:6px 10px;
			color:white;
			border: none;
			width:100%;
			text-align: left;
	    }
	}
	.woocommerce-variation-add-to-cart__row {
		margin-top:30px !important;
	}
	.btn-close {
		margin: 0 0 0 auto;
		display: block;
	}
	.woocommerce-variation.single_variation {
		display:none !important;

	}
}