
table {
	margin:0;
	padding:0;
	border:none;

	td,th {
		margin:0;
		padding:0;
		border:none;
	}
	th {
		font-size:13px;
		line-height:14px;
	}
	td {
		font-size:18px;
		line-height:20px;
		vertical-align: top;
	}
}