/*
 * Keyframes
 * https://css-tricks.com/add-page-transitions-css-smoothstate-js/
 */

 @keyframes loadFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loadFadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 200%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}




  /** Basic Load styles for an animated element */
.scene_element {
  animation-duration: 0.5s;
  transition-timing-function: cubic-bezier(.16,1.19,1,1.76);
  animation-fill-mode: both;
}
/** An element that fades in */
.scene_element--fadein {
  animation-name: loadFadeIn;
}

/** An element that fades in and slides up */
.scene_element--fadeinup {
  animation-name: loadFadeInUp;
}

/** An element that fades in and slides from the right */
.scene_element--fadeinright {
  animation-name: loadFadeInRight;
}





.animate {
    &-single {
      transition: 0.5s ease-in-out;
    }
    &-children > * {
      transition: 0.5s ease-in-out;
    }
  }
  .section:not(.active) {
    .animate {
      &-single.fade_in_up {
        transform: translateY(10%);
        opacity:1;
        &.half {
          transform: translateY(50%);
        }
        &.quarter {
          transform: translateY(25%);
        }
      }
      &-children.fade_in_up > * {
        transform: translateY(10%);
        opacity:1;
      }
    }
  }
  .section.active {
    .animate {
      &-single.fade_in_up {
        transform: translateY(0);
        opacity:1;
      }
      &-children.fade_in_up > * {
        transform: translateY(0);
        opacity:1;
  
        
      }
      @for $i from 1 to 10 {
        &-children.fade_in_up div:nth-child(#{$i}) { transition-delay: $i * 0.15s; }
      }
    }
  }