.slick-slider {
    margin-top: 0;
    margin-bottom: 0;
    &.slick-dotted {
        margin-bottom: 0;
    }
}

.slick-dots {
    bottom: 20px;
    li {
        button::before {
            content: '';
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            background-color: black;
        }
    }
}
.dots-color-black {
    .slick-dots {
        li {
            button::before {
                background-color: black;
            }
        }
    }
}
.dots-color-white {
    .slick-dots {
        li {
            button::before {
                background-color: white;
            }
        }
    }
}

.slick-arrow {
    //position:relative;
    width: 50px;
    height: 50px;
    &::before {
        content:'';
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width: 50px;
        height: 50px;
        background:transparent;
        //background-image: url('../../img/arrow@2x.png'); white
        background-image: url('../../img/arrow_pink.png');
        background-position: center;
        background-size: contain;
        background-repeat:no-repeat;
        border:none;
        z-index:10;
    }
}
.slick-prev {
    left: -75px;
    z-index: 10;
    &::before {
        transform:translate(-50%,-50%) rotate(180deg);
    }
}
.slick-next {
    right: -75px;
    z-index: 10;
    
}

.slick-carousel.show_sides {
    .slick-list {
        overflow: visible
    }
    .slick-slide {
        margin-left:15px;
        margin-right:15px;
        opacity: 0.25;
        transition: opacity .25s ease-in-out;
        &.slick-current {
            opacity: 1;
        }
    }
}