.card {
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: block;
    //min-height: 830px;
    margin-bottom:30px;
    @media screen and (min-width: 768px) {
        //margin-bottom:60px;
        margin-bottom:30px;
    }
    &-body {
        padding: 0;
    }
    .background-thumb-wrapper {
        position: relative;
        padding-bottom:100%;
        height:0;
        .background-thumb {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position:absolute;
            top: 0;
            left: 0;
        }
    }
    .card_wrapper {
        position: relative;
        .card_headline {
            width:100%;
            position: absolute;
            left:0;
            top:50%;
            transform: translateY(-50%);

            .h1, h1 {
                font-size: 68px;
                line-height: 60px;
                @media screen and (min-width: 576px) and (min-height: 576px) {
                    font-size: 100px;
                    line-height: 80px;
                }
                @media screen and (min-width: 1500px) and (min-height: 992px) {
                    font-size: 136px;
                    line-height: 105px;
                }
            }
        }
        a {
            text-decoration: none;
        }
    }
    .card_excerpt {
        margin:40px 0;
        @media screen and (min-width: 768px) {
            margin:40px 0;
        }
        h2 {
            display: none;
            /*
            max-width: 60%;
            margin-bottom:30px;
            @media screen and (min-width: 768px) {
                margin-bottom:40px;
            }
            */
        }
    }
    .btn-cta {
        width: 100%;
        border: none;
        border-radius: 0;
        color: white;
        border-color: white;
        background-color: $red;
    }
}