/**
 * partials/footer
 * ---
 */
 footer.footer {
  padding-top:75px;
  padding-bottom:85px;
  color: white;
  background-color: $dark-green;
  a {
    color:inherit;
    text-decoration: none;
  }
  .footer-media {
      list-style:none;
      padding:0;
      margin:0;
      text-align: left;
      li {
        list-style:none;
        padding:0;
        margin:0 14px 0 0;
        display:inline;
      }
      img {
        width:40px;
        height: 40px;
      }
  }
}