/**
 * modules/fonts
 * ---
 * Declare fonts here
 */



@font-face {
  font-family: "Graphik-Bold";
  src: url("../../fonts/Graphik/Graphik-Bold.eot");
  src: url("../../fonts/Graphik/Graphik-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Graphik/Graphik-Bold.woff") format("woff"),
    url("../../fonts/Graphik/Graphik-Bold.ttf") format("truetype"),
    url("../../fonts/Graphik/Graphik-Bold.svg#FKGroteskNeue/Graphik-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik-Light";
  src: url("../../fonts/Graphik/Graphik-Light.eot");
  src: url("../../fonts/Graphik/Graphik-Light.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Graphik/Graphik-Light.woff") format("woff"),
    url("../../fonts/Graphik/Graphik-Light.ttf") format("truetype"),
    url("../../fonts/Graphik/Graphik-Light.svg#FKGroteskNeue/Graphik-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Graphik-Regular";
  src: url("../../fonts/Graphik/Graphik-Regular.eot");
  src: url("../../fonts/Graphik/Graphik-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Graphik/Graphik-Regular.woff") format("woff"),
    url("../../fonts/Graphik/Graphik-Regular.ttf") format("truetype"),
    url("../../fonts/Graphik/Graphik-Regular.svg#FKGroteskNeue/Graphik-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
@font-face {
  font-family: "Graphik-Bold";
  src: url("../../fonts/Graphik/Graphik-Bold.woff") format("woff"),
    url("../../fonts/Graphik/Graphik-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik-Light";
  src: url("../../fonts/Graphik/Graphik-Light.woff") format("woff"),
    url("../../fonts/Graphik/Graphik-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Graphik-Regular";
  src: url("../../fonts/Graphik/Graphik-Regular.woff") format("woff"),
    url("../../fonts/Graphik/Graphik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*/