/**
 * modules/mixins
 * ---
 */

@mixin reset-box {
	padding: 0;
	margin: 0;
}



/**
 * functions
 * ---
 */

//Function to get same variables as vh in mobile devices (requires javascript)
/*
  height: 100%;
  height: 100vh;
  height: vh(100);
*/
@function vh($quantity) {
	@return calc(var(--vh, 1vh) * #{$quantity});
}
@function svh($q1,$q2) {
	@return calc(var(--vh, 1vh) * #{$q1} + #{$q2});
}
@function rvh($q1,$q2) {
	@return calc(var(--vh, 1vh) * #{$q1} - #{$q2});
}
