/**
 * modules/variables
 * ---
 */

/**
 * Fonts
 */

$font-medium: Druk-Medium, sans-serif;
$font-bold: FranklinGothic-DemiCond, sans-serif;


/**
 * Colors
 */

$blue: #051FF6;
$grey: #F0EEEB;
$dark-grey: #70634A; //rgb(112,99,74)

