/**
 * modules/variables
 * ---
 */

/**
 * Fonts
 */
$font-light: Graphik-Light, sans-serif;
$font-medium: Graphik-Regular, sans-serif;
$font-bold: Graphik-Bold, sans-serif;


/**
 * Colors
 */


$brown: #56220F; //rgb(86,34,15)
$orange: #FF4600; //rgb(255,70,0)
$coral: #FF675D; //rgb(178,224,225)
$cyan: #B2E0E1; //rgb(255,103,93)
$lightblue:#C2EFEB;
$pink: #F6CDD7;
$red: #FF4D00;



$blue: #4E5780; 
$green: #579E99;
$grey: #555659;
$dark-grey: #70634A; //rgb(112,99,74)
$dark-green: #122D28;

