/**
 * modules/variables
 * ---
 */

/**
 * Fonts
 */
$font-light: LubalinGraphStd-ExtraLight, sans-serif;
$font-medium: LubalinGraphStd-Book, sans-serif;
$font-bold: LubalinGraphStd-Bold, sans-serif;


/**
 * Colors
 */

$blue: #051FF6;
$dark-grey: #70634A; //rgb(112,99,74)



$green: #93A6A3;
$dark-green: #122D28;
$grey: #707070;
$red: #EC8772;
